.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(187,4,242,1) 45%, rgba(255,255,255,1) 100%);
   border-radius: 999px 999px 999px 999px;
   padding: 5rem;
    width: 98vw;
    margin: 1%;
   overflow: hidden;
   
}
.project__img{
    cursor: pointer;
    border-radius: 10px;
}
.project__img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.projects__title{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
    
}
.projects__title span{
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.projects__title h1{
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
}
.projects__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
    left: 1rem;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 1.5rem;
  }
 
  .project__details{
    position: absolute;
    top: 70%;
    left:0;  
    width: 100%;
    height: 90px;
    border-radius: 99px 99px 0px 0px;
    background-color:oldlace;
    box-shadow: -5px -5px 20px -10px black;
  } 
  .project__details p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 20px;
  
    
  }
 
  .project__details h5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 1rem;
    

  }
  .project__details a{
    color: #000;
    padding-left: 1rem;
    font-size: 20px;
  }

  
  .swiper{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-wrapper {
    width: 40% !important;
    height:40% !important;
  }

  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
  }
  .projects__view{
    text-decoration: none;
    border: none;
    background:  linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    padding: 0.50rem 1rem;
    color: #fff !important;
    border-radius: 5px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
  }
  .projects__view:hover{
    transform: scale(1.1);
   
  }


  
  @media screen and (max-width:770px) {
    .projects{
      border-radius: 10px 150px 150px 150px;
    }
    .project__details {
      border-radius: 10px;
      padding: 0.3rem;
    }
    .projects__container{
      height: 70%;
    }
  }
  @media screen and (max-width:500px) {
   
    .projects{
      
      border: none;
      border-radius: 80px 80px 200px 200px;
    }
    .project__details{
      background: transparent;
      backdrop-filter: blur(10px);
      border-radius: 5px;
      
    }
    .project__details p{
      padding: 1rem;
      font-size: 15px;
      
    }
    
    .projects__container{
      height: 100%;
      margin-top: 3rem;
    }
    .projects__view{
      margin-top: 3rem;
    }
    .swiper-wrapper {
      width: 80% !important;
      height:40% !important;
    }
   
    
  }
  @media screen and (max-width:320px) {
    .projects{
      border-radius: 80px 80px 200px 200px;
  }
    .project__details{
      background: white;
      border-radius: 5px;
      backdrop-filter: none;
    }
    .project__details p h5{
      font-size: 10px ;
      font-weight: 300;
    }
    .projects__title h1{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 19px;
      letter-spacing: normal;

      
    }
    .swiper-wrapper {
      width: 80% !important;
    }
    
   .projects__container{
    margin-top: 1rem;
    height: 60%;
   }
   
    
  }