.login{
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    
}
.login h1{
    padding: 30px;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    letter-spacing: 10px;
   
}
.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.175);
    border-radius: 10px;
    color:white;
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.login__container img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 3px dashed white;
    border-radius: 99px;
    width: 50%;
    padding: 1rem;
}
.login__errmsg{
    color: red;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 700;
}
.login__container form h5{
    text-transform: capitalize;
    margin-bottom: 5px;

}
.login__container form {
    width: 300px;
}
.login__container form input{
    height: 35px;
    margin-bottom: 10px;
    background-color:transparent;
    border: 1px solid lightgrey;
    width: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    color:white;


}
.login__Button{
    border-radius: 5px;
    height: 30px;
    margin-top: 10px;
    color: white;
    background-color:blue !important; 
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
    
}
.login__Button:hover{
   transform: scale(1.1);
}
.login__back{
    text-decoration: none;
    border: 1px solid rgb(110, 89, 168);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius:99px;
    margin-right: 20rem;
    color: rgb(110, 89, 168);
    cursor: pointer;
    transition: 0.5s ease-in;
    color: white !important;
    background-color: blue; 
    border: none;


}
.login__back:hover{
   transform: scale(1.1);
}
@media screen and (max-width:1024px){
    .login{
        overflow-y: hidden;
    }
    .login__container{
        width: 300px;
    }
    .login__container form{
        width: 240px;
    }
    .login__back{
        margin-right: 14rem;
    }
}