.navlink{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2rem 3.5rem;
    color: white;
   
   
}
.navlink__option{
  
    text-decoration: none;
    font-size:15px;
    text-transform: uppercase;
    padding: 0.6rem;
    transition: 0.3s ease-in-out;
    color: black!important;
    border-radius: 10px;


}
.navlink__option:hover
{
    transform: scale(1.1);
    text-decoration: underline;
    color: darkgreen !important;
}