.scroll{
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    padding: 0.2rem;
    border-radius: 99px;
    transition: 0.3s ease-in-out;
    display: block;
    background: blue;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.scroll a{
   font-size: 2rem;
    display:flex;
    color: #fff !important;
    justify-content: center;
}
.scroll:hover{
    transform: scale(1.1);
}
@media screen and (max-width:500px){
    .scroll{
        display: none;
    }
    
}

