.contact{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    padding:5.65rem 2rem;
    height: 100vh;
    background-image: linear-gradient(to right top, #8a1e8c, #b7167e, #d7266b, #ed4657, #f86942, #fa7c38, #f98f2e, #f5a227, #f3a826, #f2af25, #efb526, #edbb27);
}
.contact__title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    
}
.contact__title span{
    color: blue;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.contact__title h1{
    color: #fff;
    text-transform: capitalize;
    font-size: 3rem;
}
.contact__container{
    display: flex;
    justify-content: space-between;  
    padding: 1.5rem;
    background-color:rgba(255, 255, 255, 0.296);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    width: 90vw;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.contact__left h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.contact__left p{
    font-weight: 500;
    width: 35rem;
    margin-bottom: 3rem;   
    
}
.conatactback__home{
   
    text-decoration: none;

}
.contact__left svg{
    font-size: 1.2rem;
    color: blue;
}
.contact__details{
    margin-bottom: 3rem;
}
.contact__details span{
    padding-left:1rem ;

}
.contact__media a{
    margin: 1rem;
    padding: 0.3rem 0.5rem ;
    background: blue;
    border-radius: 99px;
    color: #fff !important;
    transition: 0.3s ease-in-out;
}
.contact__media a:hover{
    transform: scale(1.05);
}


.contact__right{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.contact__right h2{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.contact__right form{
    display: flex;
    flex-direction: column; 
}
.contact__right form input{
    border: none;
    background-color: aliceblue;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    outline: none;
    height: 43px;
    text-transform: capitalize;
}
.contact__message{
    border: none;
    background-color: aliceblue;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    outline: none;
    text-transform: capitalize;
   
}
.contact__right form  button{
    border: none;
    height: 43px;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    background:  blue

}


@media screen and (max-width:1025px){
    
    .contact__left p{
        width: auto;
    }
    
}
@media screen and (max-width:770px){
    .contact{
        height: auto;
    }
    .contact__container{
        justify-content: center;
        flex-direction: column;
        overflow:visible;
        width: 90vw;
    }
    .contact__left{
        margin-bottom: 1rem;
    }
    .contact__media a{
        padding: 0.2rem 0.5rem;
    }
    
}
@media screen and (max-width:500px) {
    .contact__media a{
        margin: 0.5rem;
    }
    
}
@media screen and (max-width:330px){
    .contact__title h1{
        font-size: 2.5rem;
    }

}



