.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    padding: 5rem;
}
.skills__title{
    margin-bottom: 5rem;
}
.skills__title h1{

    font-size: 3rem;
}
.skills__details{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
}
.skills__icons{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border:2px dashed lightgray;
    padding: 1.5rem;
    border-radius: 50px 50px 150px 5px;
    transition: 0.5s ease-in-out;
    
}
.skills__icons img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.skills__icons:hover{
    transform: scale(1.10);  
    border: none;
    background: white;
    box-shadow: 5px 5px 20px rgb(250, 250, 250);
    
    
}

@media screen and (max-width:1025px){
    .skills__details{
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;

    }

}
@media screen and (max-width:770px){
    .skills__details{
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;

    }
   

}
@media screen and (max-width:500px){
    .skills{
        padding: 3rem 1rem;
    }
   
   
    .skills__details{
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;

    }
    .skills__title{
        margin-bottom: 2rem;
    }
    .skills__icons{
        display: flex;
        justify-content: center;
        width: 145px;
        height: 145px;
    }
    
}
@media screen and (max-width:330px){
  
  
    .skills__icons{
        padding: 1rem;
        width: 100px;
        height:100px ;
    }
    .skills__details{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;

    }

}