.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    height: 110vh;
}
.skills__title{
    margin-bottom: 5rem;
}
.skills__title h1{

    font-size: 3rem;
}
.skills__details{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
}
.skills__icons{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
}
.skills__icons img{
    width: 100%;
    height: 100%;
}
.skills__icons:hover{
    transform: scale(1.10);   
}
@media screen and (max-width:1025px){
    .skills__details{
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;

    }

}
@media screen and (max-width:770px){
    .skills__details{
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;

    }
   

}
@media screen and (max-width:500px){
    .skills{
        height: 145vh;
    }
   
    .skills__details{
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;

    }
    .skills__title{
        margin-bottom: 2rem;
    }
    .skills__icons{
        display: flex;
        justify-content: center;
        width: 145px;
        height: 145px;
    }
    
}
@media screen and (max-width:330px){
    .skills{
        height: 117vh;
    }
  
    .skills__icons{
        padding: 0.5rem 0.5rem;
        width: 134px;
        height:122px ;
    }
    .skills__details{
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;

    }

}