.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    padding: 5rem 1rem;
}

.skills__title h1{

    font-size: 3rem;
}

.skills__service{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
   
}


.skills__servicecontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 2rem 2rem;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    height: 40vh;
    margin: 2%;
    text-transform: capitalize;
    cursor: pointer; 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid lightgray;
}
.skills__servicecontainer:hover{
    color: white;
    box-shadow:rgba(240, 172, 46, 0.4) 5px 5px, rgba(240, 185, 46, 0.3) 10px 10px, rgba(240, 179, 46, 0.2) 15px 15px, rgba(246, 185, 53, 0.1) 20px 20px, rgba(250, 182, 56, 0.05) 25px 25px;
}
.skills__servicecontainer img{
    max-width: 350px;
    margin-bottom: 10px;
   
}
.skills__servicecontainer h5{
    font-size: 50px;
    color: blue;
}

.skills__servicecontainer  p {
    font-size: 25px;
   font-family: 'Josefin Sans', sans-serif; 
    text-transform: capitalize;
}
.skills__sevice0:hover{
    
    background-color: #D21312;
    transform: skewx(10deg);
}
.skills__sevice1{
    flex-direction: row-reverse;
}
.skills__sevice1:hover{
    background-color: #FFB72B;
   transform: skewx(-10deg);
}
.skills__sevice2:hover{
    background-color: #064420;
    transform: skewx(10deg);
}
.skills__changebtn{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__changebtn button {
    padding: 0.65rem 2rem;
    background-color: blue;
    color: white;
    border-radius: 99px;
    font-size: 20px;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__changebtn  button:hover{
    box-shadow:rgba(240, 172, 46, 0.4) 5px 5px, rgba(240, 185, 46, 0.3) 10px 10px, rgba(240, 179, 46, 0.2) 15px 15px, rgba(246, 185, 53, 0.1) 20px 20px, rgba(250, 182, 56, 0.05) 25px 25px;


}
.skills__tool{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skills__backbtn{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__backbtn button {
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border-radius: 99px;
    font-size: 20px;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.5s ease-in-out ;
}
.skills__backbtn button:hover{
    box-shadow:rgba(240, 172, 46, 0.4) -5px -5px, rgba(240, 185, 46, 0.3) -10px -10px, rgba(240, 179, 46, 0.2) -15px -15px, rgba(246, 185, 53, 0.1) -20px -20px, rgba(250, 182, 56, 0.05) -25px -25px;


}
.skills__details{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    justify-items:center;
    gap: 5rem;
    width: 90vw;
    padding: 2rem 1rem;

}
.skills__icons img{
    width: 200px;
    height: 200px;
}
@media screen and (min-width:2560px) {
    .skills__title h1{
        font-size: 70px;

    }
    .skills__servicecontainer img{
        max-width: 800px;
    }
    .skills__servicecontainer h5{
        font-size: 80px;

    }
    .skills__servicecontainer p{
        font-size: 50px;
    }
}
@media screen and (max-width:1280px) {
    .skills__servicecontainer{
        padding: 1rem 1rem;
    }
    .skills__servicecontainer h5{
        font-size: 25px;
    }
    .skills__servicecontainer p{
        font-size: 20px;
    }

}
@media screen and (max-width:950px) {
    .skills__servicecontainer{
        height: 30vh;
    }
    .skills__servicecontainer img{
        max-width: 250px;
    }
    .skills__servicecontainer h5{
        font-size: 20px;
    }
    .skills__servicecontainer p{
        font-size: 15px;
    }
}
@media screen and (max-width:650px) {
   
    .skills__servicecontainer h5{
        font-size: 15px;
    }
    .skills__servicecontainer p{
        font-size: 10px;
        margin-bottom: 0;
    }
    .skills__details{
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
        gap: 1rem;
    }
    .skills__icons img{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:550px) {
    .skills__service{
        padding: 2rem 1rem;
    }
    .skills__servicecontainer{
        height: 40vh;
        justify-content: center;
        flex-direction: column;
        margin: 2% 0%;
    }
    .skills__servicecontainer img{
        max-width: 150px;
    }
    .skills__servicecontainer h5{
        font-size: 17px;
        margin-bottom: 0rem;
    }
    .skills__servicecontainer p{
        font-size: 12px;
        margin-bottom: 0;
    }

  
}
@media screen and (max-width:400px) {
    .skills__title h1{
        font-size: 30px;

    }
    .skills__service{
        padding: 2rem 1rem;
    }
    .skills__servicecontainer{
        height: 40vh;
        justify-content: center;
        flex-direction: column;
        margin: 2% 0%;
    }
    .skills__servicecontainer img{
        max-width: 150px;
    }
   
}

