.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 4rem 2rem;
    background: url("https://w0.peakpx.com/wallpaper/296/179/HD-wallpaper-white-leaves-on-side-with-dark-black-background-black-aesthetic.jpg");
    
   
}
.about__title{
    text-align: center ;
    margin-bottom: 3rem;
}
.about__title h1{
    font-size: 3rem;
}
.about__container{
    display: flex;
    justify-content: space-between;
    overflow:hidden ;
    color: black;
    background: rgb(238,238,238);
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(187,4,242,1) 45%, rgba(255,255,255,1) 100%);
    padding: 3rem;
    border-radius: 20px;
    width: 80vw;

}
.about__left{
    width: 300px;
    border-radius: 10px;

}


.about__left img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
    opacity: 1;
    
   
}



.about__right{
    display: flex;  
    flex-direction: column;
    margin-left: 3rem;
     width: 60%;
}


.about__right p{
    font-size:1.2rem;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    max-width: 600px;
    font-weight: 400;
}
.about__right span{
    display: flex;
    align-items: center;
    font-size: 0.90rem;
    max-width: 220px;
    margin-bottom: 2rem;
    font-size: 1rem;
    border-radius: 20px;
}
.about__right span i{
   margin-right: 1rem;
}

.about__right  a{
    text-decoration: none;
    width: 165px;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0.65rem 1rem;
    text-transform: capitalize;
    background:  linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:850px) {

    .about__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: visible;
    }
    .about__left{
        width: 300px;
    }
    .about__right{
        padding: 3rem 3rem;
        width: auto;
    }
    .about__right p{
        font-size: 1rem;
    }
 
}
@media screen and (max-width:500px) {
    .about{
        padding: 0.2rem 0.5rem;
        background: none;
    }
    .about__container{
        width: 90vw;
    }

    .about__left{
        width: 200px;
        height: 200px;
    }
    
    .about__right{
        margin-top: 2rem;
        padding: 1rem;
        margin-left: auto;
    }
    .about__left{
        animation: none;
        
    }
    .about__left img {
        border-radius: 1px;
    }
}

@media screen and (max-width:400px) {
    
    .about__title h1{
        font-size: 2rem;
    }
    
    .about__left{
        height: 250px;
    }

}