.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10rem 2rem;
   background-color: #FAF8F1;
  
}
.home__container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.home__left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
    padding: 0rem 2rem;

}
.home__title{
    display: flex;
    
}
.home__title h3 span{
    color: blue;
   
}


.home__left p{
    font-size: 45px;
    font-weight: 500;
    text-transform: capitalize;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 2rem;
   
}
.home__contact{
  text-decoration: none;
  background-color: blue;
  color: #fff !important;
  max-width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 99px;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}
.home__contact:hover{
    box-shadow:rgba(240, 172, 46, 0.4) 5px 5px, rgba(240, 185, 46, 0.3) 10px 10px, rgba(240, 179, 46, 0.2) 15px 15px, rgba(246, 185, 53, 0.1) 20px 20px, rgba(250, 182, 56, 0.05) 25px 25px;
}
.home__right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
  
}

.home__img {
    width: 350px;
    height: 350px;
    background-color: #fff;
    -webkit-animation: anima 4s linear infinite ;
    animation: anima 4s linear infinite ;
    overflow: hidden;

   
}
.home__img  img{
   position: relative;
    bottom: 5rem;
    right: 3rem;
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    filter:saturate(10%);
}

@keyframes anima{
    from{ 
        border-radius: 99% 50% 50% 50%;
        box-shadow:none;
        
    }
    50%{ 
        background-color: blue;
        border-radius: 50% 50% 50% 99%;
        box-shadow:rgba(240, 172, 46, 0.4) 5px 5px, rgba(240, 185, 46, 0.3) 10px 10px, rgba(240, 179, 46, 0.2) 15px 15px, rgba(246, 185, 53, 0.1) 20px 20px, rgba(250, 182, 56, 0.05) 25px 25px;
      
    }
    100%{
        background-color: gold;
        border-radius: 50% 99% 50% 50%;
        box-shadow:rgba(46, 75, 240, 0.4) -5px -5px, rgba(46, 46, 240, 0.3) -10px -10px, rgba(46, 65, 240, 0.2) -15px -15px, rgba(85, 46, 240, 0.1) -20px -20px, rgba(53, 46, 240, 0.05) -25px -25px;
    }
}

.job{
    display: flex;
    position: absolute;
    background: rgba(54, 53, 53, 0.107);
    color:black;
    padding: 0.35rem 1rem;
    border-radius: 25px;
    font-size: 0.85rem;
    cursor: pointer;
    text-transform: capitalize;
}
.web{
    right:8rem;
    top: 8rem;
}
.full{
    right:1rem;
    top: 33rem;
}
.react{
    right:33rem;
    top: 8rem;
}
.mern{
    right:33rem;
    top: 33rem;
}
.home__jobtitle{
    display: none;
    border-radius: 20px;
    color:red;
    font-size: 20px;
    width:fit-content;
}

@media screen and (min-width:2560px) {
    .home__container{
       width: 100vw;
       padding: 1rem 2rem;
   }
    .home__title h3 {
       font-size: 4rem;
      
   }
    .home__contact{
       font-size: 25px;
       padding: 2rem 5rem;
   }
    .home__left p{
       font-size: 80px;
   }
    .home__img {
       width: 600px;
       height: 600px;
   
   }
    .home__img img{
       width: 200%;
       height: 200%;
       right: 10rem;
       bottom: 10rem;
   
   }
   .web{
       right:20rem;
       top: 8rem;
   }
   .full{
       right:15rem;
       top: 53rem;
   }
   .react{
       right:55rem;
       top: 8rem;
   }
   .mern{
       right:55rem;
       top: 50rem;
   }
   
   
}

@media screen and (max-width:1280px) {

    .home__left{
        padding: 0px 1rem;

    }
    .home__left p{
        font-size: 30px;
    }
    .home__img{
        width: 300px;
        height: 300px;
    }
    .web{
        right:5rem;
        top: 8rem;
    }
    .full{
        right:3rem;
        top: 30rem;
    }
    .react{
        right:26rem;
        top: 8rem;
    }
    .mern{
        right:23rem;
        top:29rem;
    }
}


@media screen and (max-width:850px) {

.home__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home__left{
    width: 100vw;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
}

.home__left p{
    font-size: 40px;
}
.home__img{
   background-color: gold;
   animation: none;
   border-radius: 999px;
   
}

.job{
    display: none;
}
.home__jobtitle{
    display: flex !important;
    padding-left: 1rem;
}

   
}
@media screen and (max-width:550px){
    .home__title{
        flex-direction: column;
    }
    .home__left{
      padding: 0 1rem;
    }
    .home__left p{
        font-size: 20px;
    }
    .home__jobtitle{
        display: flex !important;
        padding-left: 0rem;
    }
} 
@media screen and (max-width:375px){
    .home__left p{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 400;
    }
}

 

