.footer{
    overflow: hidden;
}

.footer__container{
    background-color: #273036;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 1rem 2rem;
    width: 100vw; 
}
.footer__details{
    text-transform: capitalize;
    color: #858585;
}
.footer__details span{
    color: blueviolet;
    font-size: 1.2rem;
    font-weight: 600;
}
.footer__social{
    display: flex;
}
.footer__social a{
    text-decoration: none;
    margin-bottom: 1rem;
    margin: 0.5rem;
    color: #273036;
    background: white;
    padding: 0.2rem 0.5rem ;
    border-radius: 99px;
    transition: 0.3s ease-in-out;
}
.footer__social a:hover{
    transform: scale(1.1);
    color: red;
}
@media screen and (min-width:2560px){
    
    
}
@media screen and (max-width: 1440px ) {
   
    .footer__details {
        margin-bottom: 0rem;
     }
}


@media screen and (max-width:1280px) {
   
}
@media screen and (max-width:768px) {
    
   
 
}
@media screen and (max-width:500px){
    
    .footer__details{
        margin-left: 2rem;
    }
    .footer{
        margin-top: 5rem;
    }
    
}
@media screen and (max-width:400px){
  

}
@media screen and (max-width:320px){
   

}

