.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    

}
.upload__back{
   position: absolute;
   left: 7rem;
   top: 2.7rem;
   background:  blue;
   padding:1rem 1rem;
   border-radius: 999px;
   transition: 0.3s ease-in-out;

}
.upload__back:hover{
    transform: scale(1.1);
}
.upload__back svg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
}
.upload__container{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 85vw;

}
.upload h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: black;
}

.upload__form{
    display: flex;
    flex-direction: column;
}
.upload__form input {
    height: 35px;
    background-color: transparent;
    width: 85vw;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 3rem;
    color: white;
}
.upload__file{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: transparent;
    width: 85vw;
    outline: none;
    border: 1px dashed black;
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 3rem;
   
}
.upload__file svg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: gray;
    cursor: pointer;
    border-radius: 20px;
}
.upload__inputfile{
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.upload__form .upload__inputdescription{
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding-left: 10px;
    outline: none;
    color: white;
    margin-bottom: 3rem;
}
.upload__form button{
    border: none;
    border-radius: 2px;
    height: 40px;
    margin-top: 10px;
    background: blue;
    cursor: pointer;
    margin-bottom: 1rem;
    color: white;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    
}
.upload__form button:hover{
    transform: scale(1.01);
}
.loader{
    width: 20px;
}