.projectview{
    padding: 5rem 2rem;   
}
.projectview__back{
    background-color: blue;
    position: absolute;
    left: 2rem;
    top: 1rem;
    padding: 0.8rem;
    border-radius: 999px;
    transition: 0.5s all ;

}
.projectview__back:hover{
    transform: scale(1.1);
}
.projectview__back svg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
}
.projectview__container{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-items:center;
    gap: 1rem;
    padding: 2rem;
    min-height: fit-content;    
}
.projectview__title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background-color: blue;
    padding: 5rem 1rem ;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.projectview__btn{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.projectview__btn button {
    padding: 0.3rem 2rem;
    margin: 1rem;
    border-radius: 5px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 15px;
    color: black;
    transition: 0.3s ease-in-out;
    background-color: #fff;


     
}
.projectview__btn .active{
    color: white;
    background:blue;
}
.project__filter button:hover{
    transform: scale(1.1);
}
@media screen and (max-width:400px){
    .projectview__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem;
        
    }

    .projectview__back{
        left: 0.5rem;
        padding: 0.2rem;
    }
    .projectview__back svg{
        font-size:20px;
    }
   .projectview__btn button{
    padding: 0.2rem 1rem;
    border-radius: 5px;
   }


}
